<div>
    <h1>{{this.title}}</h1>
    <h2>{{this.price}}</h2>
    <img src="{{this.picture}}" alt="default">
    <form action="/products/{{this._id}}/delete" method="POST">
        <button type="submit">Delete</button>
    </form>
        <a href="/products/{{this._id}}/update"><button>update</button></a>
</div>
