<div id="product-details">
    <div id="title-price-container">
        <h1> {{this.title}}</h1>
        <h2>Price: {{this.price}}$</h2>
    </div>
    <div id="picture-description-container">
        <img src="{{this.picture}}" alt="default" width="400px" height="400px" >
        <div>
            <h3>Description:</h3>
            <p>{{this.description}}</p>   
        </div>
    </div>
    <div id="seller-location-container">
       <p>Seller: {{this.seller.username}}</p> 
       <p>Location: {{this.location}}</p>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        See phone number
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <p>{{this.seller.phoneNumber}}</p>
    </div>
  </div>
    {{#if user}}
    <div id="buttons-container">
        <form action="/products/{{this._id}}/delete" method="POST">
            <button type="submit" style="width: 20%; border: none; background-color: black; color: white; border-radius: 5px;">Delete</button>
        </form>
        <a href="/products/{{this._id}}/update"><button style="width: 20%; border: none; background-color: black; color: white; border-radius: 5px;">Update</button></a>
    </div>
    {{/if}}
</div>
